<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Vaccin Details</h3>
                <h5 class="card-title">{{vaccin.district}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author:{{vaccin.loction}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Copies:{{vaccin.slot}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Price:{{vaccin.date}}</h6>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col-4"></div>
</div>

</body>
</html>